.contact-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-popup_opened {
  visibility: visible;
  opacity: 1;
}

.contact-popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 90vw;
  min-width: 240px;
  max-width: 430px;
  padding: 25px;
  background-color: #fff;
}

.contact-popup__button-close {
  background: transparent;
  border: none;
  background-image: url(../../image/close-icon.svg);
  width: 45px;
  height: 45px;
  position: absolute;
  top: -35px;
  right: -35px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.4s, 0.4s ease;
}

.contact-popup__button-close:hover {
  opacity: 0.6;
  transition: opacity 200ms linear;
  cursor: pointer;
}

.contact-popup__title {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}

.contact-popup__field-list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border: none;
}

.contact-popup__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-popup__label {
  margin-top: 10px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  color: #a0a0a0;
}

.contact-popup__input,
.PhoneInput input {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 0;
  color: #000;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  background: #fff;
  outline: 0;
}

.contact-popup__input_error {
  border-bottom: 1px solid #ee3465;
  color: #ee3465;
}

.contact-popup__error {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  color: #ee3465;
  height: 12px;
}

.contact-popup__submit {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  width: 100%;
  padding: 14px 0;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  text-align: center;
  color: #fff;
  border: none;
  outline: 0;
  background: #000;
}

.contact-popup__submit:hover {
  opacity: 0.6;
}

.contact-popup__submit_disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.2;
}

@media screen and (max-width: 600px) {
  .contact-popup__submit {
    font-size: calc((100vw - 320px) / (600 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (600 - 320) * (22 - 17) + 17px);
    height: calc((100vw - 320px) / (600 - 320) * (50.15 - 40) + 40px);
  }

  .contact-popup__container {
    width: 80vw;
  }

  .contact-popup__title {
    font-size: calc((100vw - 320px) / (600 - 320) * (24 - 18) + 18px);
    line-height: calc((100vw - 320px) / (600 - 320) * (29 - 22) + 22px);
  }
}

@media screen and (max-width: 480px) {
  .popup__button-close {
    width: 35px;
    height: 35px;
    top: -40px;
    right: 42%;
  }
}

@media screen and (max-width: 400px) {
  .contact-popup {
    align-items: center;
    padding: 56px 0 30px;
  }

  .contact-popup__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-height: 650px) {
  .contact-popup__field-list {
    margin-bottom: 12px;
  }
}