.projects {
  padding: 32px;
  background: #fff;
}

.projects__title {
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #000;
  text-align: center;
}

.projects__container {
  padding: 20px;
  display: flex;
  flex-flow: column;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.projects__wrapper {
  position: relative;
  margin: 50px 0 0px;
}

.projects__items {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .projects__items {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    padding: 16px;
  }
  .projects__container {
    padding: 0;
  }
  .projects__wrapper {
    margin-bottom: 0;
  }
  .projects__title {
    font-size: 35px;
    font-weight: 600;
    padding: 0;
  }
}
